*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("foto.jpg");
    text-align: center;
    margin-top: 10%;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    background-color: white;
    font-size: 30px;
    cursor: pointer;
}

button:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

h1{
    color: white;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.score{
    margin-top: -45vh;
}

.textos{
    text-align: center; 
    align-items: center; 
    font-size: 30px; 
    font-weight: bolder; 
    color: white;
}

.all-single{
    display: flex;
}

.single{
    padding-right: 60px;

    
}